@font-face {
    font-family: 'BHoma';
    src: url('../fonts/BHoma.eot?#') format('eot'), /* IE6–8 */
    url('../fonts/BHoma.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BHoma.ttf') format('truetype');
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.site-name,
.site-name-info,
ul,
li,
.menu-1,
a,
tr,
td,
table,
thead,
input[type="submit"],
input[type="email"],
input[type="text"],
.display-tc,
.btn,
span,
.tooltip,
.tp-caption.LargeTitle,
#product-review-table th, #product-review-table td, #customer-reviews .form-list li label {
    font-family: BHoma, Arial, Helvetica, sans-serif !important;
    letter-spacing: normal !important;
}

@media (min-width: 768px) {
    .sticky .logo-small {
        display: block!important;
        position: absolute;
        left: 0px;
    }
}

.product-collateral, .product-collateral > .nav > li > a {
    font-size: 1.2em !important;
}

.text-black,
.text-black:hover,
a.text-black,
a.text-black:hover,
a.text-black:focus {
    color: #000000;
}

.text-bold {
    font-weight: bold;
}

.product-view .product-name h1 {
    text-align: right;
}
.availability, .product-brand {
    float: right;
    text-align: right;
    direction: rtl;
    font-size: 1.3em;
}

#nav > li {
    float: right;
}

    #nav > li > a {
        padding: 13px 35px;
    }

@media (min-width: 768px) {
    .col-sm-push-3 {
        right: 25% !important;
    }
}
.cat-img-title.cat-bg .cat-heading, .cat-img-title.cat-bg p {
    color: black;
    float: right;
    direction: rtl;
}
#search {
    width: 88%;
}
#product-review-table th, #product-review-table td {
    text-align: center;
}
#customer-reviews h3, #customer-reviews h4, #customer-reviews .form-list li label, button.button span {
    font-size: 1.2345em;
}
button.button.submit:before {
    content: "\f04b";
    font-family: FontAwesome;
    font-size: 15px;
    padding-left: 8px;
}


.rating-box .rating-0 {
    width: 0%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating-1 {
    width: 20%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating-2 {
    width: 40%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating-3 {
    width: 60%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating-4 {
    width: 80%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.rating-box .rating-5 {
    width: 100%;
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}


.box-reviews .ratings-table {
    float: right;
}
.box-reviews .review {
    border-right: 1px solid #DFDFDF;
    float: right;
    padding-right: 2.5em;
    width: 84%;
}