
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 wow bounceInUp animated" dir="rtl" >
                <div class="page-title">
                    <h2>درباره ما</h2>
                </div>
                <div class="static-contain">
                    <p style="font-size: 1.22em;">
                        همراه وجود فروشگاه های خلاق تاثیر بسیاری در پول سازی دارد. در کنار همه این موارد کتاب خوانی و استفاده از مقالات تاثیر به سزایی در رشد فرهنگ و علم یک سرزمین دارد.
                    </p>
                    <br>
                    <p style="font-size: 1.22em;">
                        این پروژه ا استفاده از:
                        Asp.net MVC 5
                        SQL Server 2014
                        HTML 5 
                        طراحی شده است
                    </p>
                    <br>
                    <p style="font-size: 1.22em;">
                        طراحان این کار مونا سلیمانی و نرگس استاد حیدر با همراهی استاد حمزه ای انجام شده است.
                    </p>
                </div>
            </section>
            @*<aside class="col-right sidebar col-sm-3 wow bounceInUp animated">
                <div class="block block-company">
                    <div class="block-title">Company </div>
                    <div class="block-content">
                        <ol id="recently-viewed-items">
                            <li class="item odd"><strong>T_H_E_M_E_L_O_C_K_._C_O_M</strong></li>

                            <li class="item  odd"><a href="#">Terms of Service</a></li>
                            <li class="item even"><a href="#">Search Terms</a></li>
                            <li class="item last"><a href="contact_us.html">Contact Us</a></li>
                        </ol>
                    </div>
                </div>
            </aside>*@
        </div>
    </div>
</div>